nav{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    a{
        padding: 10px;
        color: black;
    }
    a.active{
        color: #cd1212;
    }
}
body{
    height: 100%;
    background-color: lightblue;
    h1{
        text-align: center;
    }

    .useroptions{
        float: right;
        display: flex;
        margin-top: -6%;
        div{
            padding-left: 15px;
        }
    }
    .mainheading{
        background-color: #5F9EA0;
        padding: 10px;
        height: 100%;
    }
    .footers{
        background-color: #5F9EA0;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
    }
}

#mainContent {
    padding: 10px;
    .images{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img{
            height: 200px;
            width: 350px;
        }
    }
}
#mainContent.lb {
    background-color: lightblue;
}
#mainContent.black {
    background-color: black;
    color: white;
}
#mainContent.small {
    font-size: 12px;
}
#mainContent.medium {
    font-size: 16px;
}
#mainContent.large {
    font-size: 20px;
}

.userdetails{
    display: flex;
    justify-content: space-between;
    .topdiv{
        width: 50%;
        #formscontact{
            margin: 10%;
            margin-top: 4%;
            background-color: rgba(173, 216, 230, 0.1);
            width: 100%;
            
            input, textarea{
                margin-bottom: 1%;
                margin-left: 1%;
                background-color: rgba(173, 216, 230, 0.1);
                color: black;
            }
            #fname, #lname, #phone, #email, #comment{
                width: 95%;
            }
            #ferror, #lerror, #pherror, #emerror{
                color: red;
            }
            label, legend{
                font-size:larger;
                margin-left: 1%;
                color: black;
            }
            button{
                margin-left: 1%;
            }
            #finalsubmit{
                background-color: #5F9EA0;
            }
        }
    }
    .contactdetails{
        width: 40%;
    }
    #displaycontactdetails{
        .displaycomment{
                width: 80%;
        }
    }
}

#formsflight{
    margin-top: 2%;
    background-color: rgba(173, 216, 230, 0.1);
    width: 100%;
    color: black;
    fieldset{
        display: flex;

        div{
            width: 100%;
        }
    }
    input{
        background-color: rgba(173, 216, 230, 0.1);
    }
    #origin, #destination, #depDate, #arrDate, #origin1, #destination1, #depDate1, #arrDate1{
        width: 90%;
    }
    #orerror, #desterror, #deperror, #arrerror, #orerror1s, #desterror1, #deperror1, #arrerror1{
        color: red;
    }
    label, legend{
        font-size:larger;
        margin-left: 1%;
    }
    button{
        margin-left: 1%;
        background-color: rgba(173, 216, 230, 0.1);
    }
    #passIcon{
        width: 5%;
    }
    .passengerList{
        span{
            color: red;
        }
    }
    
    .hidden{
        display: none;
    }
    #finalsubmit{
        background-color: #5F9EA0;
    }
}


#formscars{
    margin-left: 25%;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgba(173, 216, 230, 0.1);
    width: 50%;
    
    input, select{
        margin-bottom: 1%;
        margin-left: 1%;
        background-color: rgba(173, 216, 230, 0.1);
        color: black;
    }
    #city, #checkIn, #checkOut, #cartype{
        width: 95%;
    }
    #checkinerror, #checkouterror{
        color: red;
    }
    label, legend{
        font-size:larger;
        margin-left: 1%;
        color: black;
    }
    #finalsubmit{
        background-color: #5F9EA0;
    }
}

#formscruise{
    margin-left: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgba(173, 216, 230, 0.1);
    width: 50%;
    
    input{
        margin-bottom: 1%;
        margin-left: 1%;
        background-color: rgba(173, 216, 230, 0.1);
        color: black;
    }
    #city, #checkIn, #checkOut, #cartype{
        width: 95%;
    }
    #deserror, #departerror, #mindurerror, #maxdurerror, #passengerror{
        color: red;
    }
    label, legend{
        font-size:larger;
        margin-left: 1%;
        color: black;
    }
    #finalsubmit{
        background-color: #5F9EA0;
    }
}

.staysdetails{
    display: flex;
    justify-content: space-between;
    .topdiv{
        width: 50%;
        #formsstays{
            margin: 10%;
            margin-top: 4%;
            background-color: rgba(173, 216, 230, 0.1);
            width: 100%;
            color: black;
            input{
                margin-bottom: 1%;
                margin-left: 1%;
                background-color: rgba(173, 216, 230, 0.1);
            }
            #city, #checkIn, #checkOut, #adNum, #childNum, #infNum{
                width: 95%;
            }
            #cityerror, #checkinerror, #checkouterror{
                color: red;
            }
            label, legend{
                font-size:larger;
                margin-left: 1%;
            }
            #finalsubmit{
                background-color: #5F9EA0;
            }
        }
    }
    .staydetails{
        width: 40%;
    }
}